<%- include('../includes/head.ejs')%>
<body >
	<div class="wrapper">
        <%- include("../includes/header.ejs") %>
        <%- include("../includes/sidebar.ejs") %>
        <div class="main-panel mt-5">
            <div class="content">
                <div class="container-fluid">
                    <%- include("./_profile_form") %>
                </div>
            </div>
        </div>
	</div>
</body>
<%- include('../includes/footer.ejs')%>
<script>
    $(document).ready(function(){
        submitForm("PUT", "/admin/employee/<%= targetUser.id %>", $("#profile_form"), {
            success: (data) => {
                let resFlash = $("#result_flash");
                resFlash.empty();
                let context = data.success ? "success" : "danger";
                resFlash.append($("<div class='alert alert-" + context + "'>" + data.msg + "</div>"));
            },
            error: (err) => {
                console.log(err)
                let resFlash = $("#result_flash");
                resFlash.empty();
                resFlash.append("<div class='alert alert-danger'>Couldn't perform your action, Please try again.</div>")
            }
        });
        readImgURL($("#avatar_input"), $("#avatar_pic"));
        <% if(decodedToken.role.role == "admin"){ %>
            initForm();
        <% }%>
    })

</script>

</html>