<%- include('../includes/head.ejs')%>
<body >
	<div class="wrapper">

			<%- include("../includes/header.ejs") %>
			<%- include("../includes/sidebar.ejs") %>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						
                        <div class="row">
                            <div class="col-md-4">
                                <img class="avatar_profile" src="/img/avatars/<%= targetUser.avatar %>">
                            </div>
                            <div class="mb-4 col-md-8 profile_data" dir="rtl">
                                <h3 class="head_name"><%= targetUser.username %></h3>
                                <h6 class="sub_role"><%= targetUser.role.role %></h6>
                                <hr>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        الأسم الأول:&nbsp;&nbsp; <%= targetUser.first_name %>
                                    </div>
                                    <div class="col-md-6">
                                        أسم العائلة:&nbsp;&nbsp; <%= targetUser.last_name %>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        البريد الاليكترونى:&nbsp;&nbsp; <%= targetUser.email %>
                                    </div>
                                </div>
                                <% if(targetUser.role.role != "admin"){ %>
                                <div class="row">
                                    <div class="col-md-6">
                                        مدير:&nbsp;&nbsp; <%= targetUser.manager.first_name %> <%= targetUser.manager.last_name %>
                                    </div>
                                </div>
                                <% }%>
                            </div>
                        </div>
					</div>
				</div>


			</div>
		</div>
	</div>

</body>
<%- include('../includes/footer.ejs')%>