<table id="table" 
    data-toggle="table"
    data-filter-control="true" 
    data-show-export="true"
    data-click-to-select="true"
    data-toolbar="#toolbar">
    <thead>
        <tr>
            <th scope="col">الإسم</th>
            <th scope="col">العنوان</th>
            <th scope="col">نوع المخالفة</th>
            <th scope="col">المراقب</th>
            <th scope="col" >إدارة</th>
        </tr>
    </thead>
    <tbody>
        <!-- iterate over gawlat -->
        <%gawlat.forEach((gawla)=>{%>
            <tr>
                    <td> <%= gawla.name%> </td>
                    <td> <%= gawla.Address%> </td>
                    <td class="gawlaSearch"> <%= gawla.pen_class.name%> </td>
                    <td><%= gawla.inspector.first_name%> <%= gawla.inspector.last_name%></td>
                    <td><a href="/gawla/<%= gawla.id%>" class="btn btn-info"><i class="la la-info"></i>  التفاصيل</a>
                        <a href="/gawla/edit/<%= gawla.id%>" class="btn btn-secondary"><i class="la la-info"></i>  تعديل</a>

                    <!-- check if role is manager to show this button-->
                    <button id="<%=gawla.id%>" class="btn btn-danger"><i class="la la-info"></i>  حذف</button>

                </tr>
                <div id="flash">

                </div>
             <%})%>   
    </tbody>
</table>