<div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="assets/img/profile.jpg">
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                        <span>
                            <%=user.first_name %> <%= user.last_name %> 
                            <span class="user-level"><strong>
                                <% if(decodedToken.role == 'manager'){ %>
                                    مديــر
                                <% } else if(decodedToken.role == 'admin'){ %>
                                    أدمن
                                <% } else if(decodedToken.role == 'inspector'){ %>
                                    مراقب
                                <% } %>
                            </strong></span>
                            <span class="caret"></span>
                            <br/>
                            <br/>
                            <a class="btn btn-danger logout-btn"><i class="la  la-sign-out"></i>خــروج</a>
                        </span>
                    </a>
                    <div class="clearfix"></div>
    
                    <div class="collapse in" id="collapseExample" aria-expanded="true" style="">
                        <ul class="nav">
    
                            <li>
                                <a href="/profile/<%= user.username %>">
                                    <span class="link-collapse">البيانات الشخصية</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile/<%= user.username %>/edit">
                                    <span class="link-collapse">تعديل البيانات الشخصية</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item active">
                    <a href="/home"> <!-- content depends on the role-->
                        <i class="la la-home"></i>
                        <p>الرئيسية</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/gawlat/list"> <!-- content depends on the role-->
                        <i class="la la-street-view"></i>
                        <p>الجولات</p>
                        <span class="badge badge-count badge-success"><%= gawlatCount %></span>
                    </a>
                </li>
                <% if(decodedToken.role.role !== 'admin'){ %>
                <li class="nav-item">
                    <a href="gawlat/list?done=false">  <!-- content depends on the role-->
                        <i class="la la-hourglass-start"></i>
                            <p>جولات قيد الإنتظار</p>
                            <span class="badge badge-count badge-warning"><%= gawlatPendingCount %></span>
                        </a>
                    </li>
                <% } %>
                <% if(decodedToken.role.role !== 'admin'){ %>
                <li class="nav-item">
                    <a href="penalties/list"> <!-- content depends on the role-->
                        <i class="la la-hourglass-start"></i>
                            <p>المخالفات</p>
                            <span class="badge badge-count badge-warning"><%= penCOunt %></span>
                        </a>
                    </li>
                <% } %>
                <% if(decodedToken.role.role !== 'admin'){ %>
                <li class="nav-item">
                    <a href="penalties/list"> <!-- content depends on the role-->
                        <i class="la la-hourglass-start"></i>
                            <p>مخالفات قيد الإنتظار</p>
                            <span class="badge badge-count badge-warning"><%= penPendingCount %></span>
                        </a>
                    </li>
                <% } %>
                <% if(decodedToken.role.role !== 'inspector'){ %>
                <li class="nav-item">
                    <a href="supers.html">
                        <i class="la la-users"></i>
                            <p>المراقبين</p>
                            <span class="badge badge-count"><%= inspectorsCount %></span>
                        </a>
                    </li>
                <% } %>
                <% if(decodedToken.role.role === 'manager'){ %>
                    <li class="nav-item update-pro">
                        <a href="add-gawla.html" class="btn btn-default">
                            <i class="la la-street-view"></i>
                                <p>اضافة جولة</p>
                        </a>
                    </li>
                <% } else if(decodedToken.role.role == 'admin'){ %>
                    <li class="nav-item update-pro">
                        <a href="/admin/employee/add" class="btn btn-default">
                            <i class="la la-street-view"></i>
                                <p>اضافة موظف</p>
                        </a>
                    </li>
                    <li class="nav-item update-pro">
                        <a href="/admin/pen_class/add" class="btn btn-default">
                            <i class="la la-street-view"></i>
                            <p>اضافة جولة</p>
                        </a>
                    </li>
                <% } %>  
            </ul>
        </div>
    </div>