<%- include('./includes/head.ejs')%>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
</head>
<body >
	<div class="wrapper">
            <%- include("./includes/header") %>

			<%- include("./includes/sidebar")%>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">المراقبين</h4>
				
						<div class="row">
							<div class="col-md-12">
								<div class="card card-tasks">
               
                                    <div class="card-body">
                                                                        
                                        <table id="table" 
                                            data-toggle="table"
                                            data-search="true"
                                            data-filter-control="true" 
                                            data-show-export="true"
                                            data-click-to-select="true"
                                            data-toolbar="#toolbar">
                                            <thead>
                                                <tr>
                                                    <th scope="col">الإسم</th>
                                                    <th scope="col">عدد الجولات</th>
                                                    <th scope="col">عدد المخالفات</th>
                                                    <th scope="col" >إدارة</th>
                                                </tr>
                                            </thead>
                                            <tbody id="tbody">
                                                <% users.forEach((user)=>{%>
                                                    <tr id='user-<%=user.id%>'/>
                                                            <td>
                                                                <img id="superav" src="/img/avatars/<%=user.avatar%>">
                                                                <span><%=user.username%></span>
                                                            </td>
                                                            <td><h6><%=user.inspector_gawlas.length%></h6></td>
                                                            <td ><h6><%=user.penalties.length%></h6></td>
                                                            <td><a href='/admin/employee/<%=user.username%>' class="btn btn-success"><i class="la la-info"></i> التفاصيل</a>
                                                         
                                                            </td>
                                                        </tr>;
                                               <%})%>
                                            </tbody>
                                        </table>
                                    </div>
                                        <div class="card-action">

                                            </div>
								</div>
							</div>
						</div>
					</div>
                </div>
                


			</div>
		</div>
	</div>
    <%- include('./includes/footer.ejs')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
</body>

</html>