<%- include('./includes/head.ejs')%>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
</head>
<body >
	<div class="wrapper">
            <%- include("./includes/header") %>

			<%- include("./includes/sidebar")%>
			<div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<h4 class="page-title">المخالفات</h4>
				

						<div class="row">

							<div class="col-md-12">
                                <div class="row pl-3">
                                    <select name="" id="filterClass" class="form-control col-sm-3">
                                        <option value="all">كل الفئات</option>
                                        <%classes.forEach(penaltyClass => {%>
                                            <option value="<%= penaltyClass.name%>"><%= penaltyClass.name%></option>
                                        <% }) %>
                                    </select>
    
                                    <select name="" id="filterUser" class="form-control col-sm-3">
                                        <option value="all">كل المراقبين</option>
                                        <%users.forEach(user => {%>
                                            <option value="<%= user.username%>"><%= user.username%></option>
                                        <% }) %>
                                    </select> 
                                </div>

								<div class="card card-tasks">
               
                                    <div class="card-body">
                                           <table id="table" data-toggle="table" data-filter-control="true" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">اسم المخالفه</th>
                                                        <th scope="col">الفئه</th>
                                                        <th scope="col">قيمه المخالفه</th>
                                                        <th scope="col" >المراقب</th>
                                                        <% if (decodedToken.role.role == 'manager'){%>

                                                        <th scope="col" >قبول المخالفه</th>
                                                        <th scope="col" >رفض المخالفه</th>
                                                        <%}%>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% penalties.forEach(penalty => { %>
                                                        <tr>
                                                            <td><%= penalty.comment%></td>
                                                            <td class="penaltyClass2"><%= penalty.pen_class.name%></td>
                                                            <td><%= penalty.pen_term.value%></td>
                                                            <td class="penaltyUser"><%= penalty.inspector.username%></td>
                                                            <% if (decodedToken.role.role == 'manager'){%>
                                                            <td><button class="btn btn-primary" name="penaltyApproved" value="<%=penalty.id%>"><i class="la la-edit"></i>قبول</button></td>
                                                            <td><button class="btn btn-danger" name="penaltyDeleted" value="<%=penalty.id%>"><i class="la la-trash"></i>رفض</button></td>
                                                            <%}%>
                                                        </tr>

                                                    <% })%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="card-action">

                                            </div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
    
<%- include('./includes/footer.ejs')%>

</body>
</html>
